<main class="container">
  <%= if info = Phoenix.Flash.get(@flash, :info) do %>
    <p
      class="alert alert-info"
      role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="info"
    >
      <%= info %>
    </p>
  <% end %>

  <%= if error = Phoenix.Flash.get(@flash, :error) do %>
    <p
      class="alert alert-danger"
      role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="error"
    >
      <%= error %>
    </p>
  <% end %>

  <%= @inner_content %>
</main>
