<!DOCTYPE html>
<html dir="ltr">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="csrf-token" content={csrf_token_value()}>

      <!-- Favicon -->
      <link rel="icon" href={Routes.static_path(@conn, "/images/ico.png")} />
      <meta name="msapplication-TileColor" content="#0010f7">
      <meta name="theme-color" content="#ffffff">

      <!-- Font -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

      <!-- Plugin -->
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/plugin/swiper-bundle.min.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/icons/iconly/index.min.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/icons/remix-icon/index.min.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/bootstrap.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/colors.css")}>

      <!-- Base -->
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/base/typography.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/base/base.css")}>

      <!-- Theme -->
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/theme/colors-dark.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/theme/theme-dark.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/custom-rtl.css")}>

      <!-- Layouts -->
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/layouts/sider.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/layouts/header.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/layouts/page-content.css")}>
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/components.css")}>

      <!-- Horizontal -->
      <link rel="stylesheet" type="text/css" href={Routes.static_path(@conn, "/theme/app/css/layouts/horizontal-menu.css")}>

      <%= live_title_tag assigns[:page_title] || "#{@data.app_name} - A Fast, Secure and Reliable Terraform Backend" %>
  </head>

  <body class="horizontal-active">
      <%= @inner_content %>

      <!-- Plugin -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js" integrity="sha384-RyJao284s+5Z7X0QVo5uKszbojnincJ/kOrcTIqKC/Pi8EVOF6BFTE9xw52unBjU" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha384-es0HiLUGcrrPhNqo0EwhhpDeHORxK3d+EVccCFO0RFLRxu7d77SO3Y1/rR2c/Vdl" crossorigin="anonymous"></script>

      <script src={Routes.static_path(@conn, "/theme/app/js/plugin/jquery.min.js")}></script>
      <script src={Routes.static_path(@conn, "/theme/app/js/plugin/bootstrap.bundle.min.js")}></script>
      <script src={Routes.static_path(@conn, "/theme/app/js/plugin/swiper-bundle.min.js")}></script>
      <script src={Routes.static_path(@conn, "/theme/app/js/plugin/jquery.mask.min.js")}></script>
      <script src={Routes.static_path(@conn, "/theme/app/js/plugin/autocomplete.min.js")}></script>
      <script src={Routes.static_path(@conn, "/theme/app/js/plugin/moment.min.js")}></script>

      <!-- Layouts -->
      <script src={Routes.static_path(@conn, "/theme/app/js/layouts/header-search.js")}></script>
      <script src={Routes.static_path(@conn, "/theme/app/js/layouts/sider.js")}></script>

      <!-- Base -->
      <script src={Routes.static_path(@conn, "/theme/app/js/base/index.js")}></script>

      <!-- Horizontal -->
      <script src={Routes.static_path(@conn, "/theme/app/js/layouts/horizontal-menu.js")}></script>

      <!-- Backend -->
      <script src={Routes.static_path(@conn, "/theme/app/backend.js")}></script>
  </body>
</html>