/* Authentication */
.hp-authentication-page {
  position: relative;
  min-height: 100vh;
  margin: 0 !important;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .hp-authentication-page .hp-auth-header-title {
    display: none;
  }
}
.hp-authentication-page .hp-logo-item {
  position: absolute;
  top: 0;
  left: 0;
}
.hp-authentication-page .hp-bg-item {
  margin-top: 100px;
}
.hp-authentication-page .hp-text-item {
  margin-top: -250px;
}
@media screen and (max-width: 767px) {
  .hp-authentication-page .hp-text-item {
    margin-top: -80px;
    padding: 0 24px;
  }
}
.hp-authentication-page .hp-or-line {
  position: relative;
}
.hp-authentication-page .hp-or-line:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #dfe6e9;
  z-index: -1;
}
.hp-authentication-page .hp-other-links a + a {
  position: relative;
  padding-left: 16px;
  margin-left: 16px;
}
.hp-authentication-page .hp-other-links a + a:before {
  content: "";
  position: absolute;
  top: 49%;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #636e72;
}