.hp-select-box-item > input:checked ~ label .card {
  border-color: #0010f7 !important;
  -webkit-box-shadow: 0px 0px 10px rgba(10, 175, 255, 0.35);
          box-shadow: 0px 0px 10px rgba(10, 175, 255, 0.35);
}
.hp-select-box-item ul li {
  list-style: disc;
}