<!DOCTYPE html>
<html dir="ltr">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="csrf-token" content={csrf_token_value()}>

      <!-- Favicon -->
      <link rel="icon" href={Routes.static_path(@conn, "/images/ico.png")} />
      <meta name="msapplication-TileColor" content="#0010f7">
      <meta name="theme-color" content="#ffffff">

      <!-- Font -->
      <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

      <!-- Plugin -->
      <link rel="stylesheet" type="text/css" href="/theme/app/css/plugin/swiper-bundle.min.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/icons/iconly/index.min.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/icons/remix-icon/index.min.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/css/colors.css">

      <!-- Base -->
      <link rel="stylesheet" type="text/css" href="/theme/app/css/base/typography.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/css/base/base.css">

      <!-- Theme -->
      <link rel="stylesheet" type="text/css" href="/theme/app/css/theme/colors-dark.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/css/theme/theme-dark.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/css/custom-rtl.css">

      <!-- Layouts -->
      <link rel="stylesheet" type="text/css" href="/theme/app/css/layouts/sider.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/css/layouts/header.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/css/layouts/page-content.css">
      <link rel="stylesheet" type="text/css" href="/theme/app/css/components.css">

      <!-- Apex Charts -->
      <link rel="stylesheet" type="text/css" href="/theme/app/css/plugin/apex-charts.css">

      <!-- Horizontal -->
      <link rel="stylesheet" type="text/css" href="/theme/app/css/layouts/horizontal-menu.css">

      <%= live_title_tag assigns[:page_title] || "Bandit" %>
  </head>

  <body class="horizontal-active">
      <%= @inner_content %>

      <!-- Plugin -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

      <script src="/theme/app/js/plugin/jquery.min.js"></script>
      <script src="/theme/app/js/plugin/bootstrap.bundle.min.js"></script>
      <script src="/theme/app/js/plugin/swiper-bundle.min.js"></script>
      <script src="/theme/app/js/plugin/jquery.mask.min.js"></script>
      <script src="/theme/app/js/plugin/autocomplete.min.js"></script>
      <script src="/theme/app/js/plugin/moment.min.js"></script>

      <!-- Layouts -->
      <script src="/theme/app/js/layouts/header-search.js"></script>
      <script src="/theme/app/js/layouts/sider.js"></script>
      <script src="/theme/app/js/components/input-number.js"></script>

      <!-- Base -->
      <script src="/theme/app/js/base/index.js"></script>

      <!-- Charts -->
      <script src="/theme/app/js/plugin/apexcharts.min.js"></script>

      <!-- Cards -->
      <script src="/theme/app/js/cards/card-statistic.js"></script>

      <!-- Horizontal -->
      <script src="/theme/app/js/layouts/horizontal-menu.js"></script>

      <!-- Backend -->
      <script src="/theme/app/backend.js"></script>

  </body>
</html>