name: Server CI

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        otp: ['25.1']
        elixir: [
          '1.14.3',
          '1.14.4',
          '1.14.5',
          '1.15.0',
          '1.16.0'
        ]
    services:
      db:
        image: postgres:latest
        ports: ['5432:5432']
        env:
          POSTGRES_DB: bandit_dev
          POSTGRES_USER: bandit
          POSTGRES_PASSWORD: bandit
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Get Dependencies
        run: make deps

      - name: Check Bandit Format
        run: make fmt_check

      - name: Get Version
        run: make v

      - name: Test Bandit
        run: make ci

      - name: Build Bandit
        run: make build
